.vl {
    border-right: 4px solid black;
    height: 655px;
  }

.vbt {
    border-bottom: 4px solid black;
    height: 655px;
  }

.divheight {
    height: 70px;
  }
  
.camera {
  width: 195px;
  height: 50px;
  background-color: black;
  padding: 12px 0;
}

.inline {
  display: inline-block;
}

.tcolor {
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.rectang {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 430px;
  height: 320px;
}

.rectangsmall {
  border-radius: 25px;
  background:grey;
  padding: 20px;
  width: 200px;
  height: 144px;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
}



.msgrect {
  width: 730px;
  height: 50px;
  background-color: #fae7b4;
  padding: 12px 0;
  padding-left: 10px;
}